@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Ubuntu:wght@300&display=swap');



#title{
    background-color: #ff4c68;
    color: #fff;
}

h2{
    font-family: "Montserrat-Black", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.heading{
    font-family: "Montserrat-Black", sans-serif;
    line-height: 1.5;
    font-size: 3rem;
}

.container-fluid{
    padding: 3% 15%;
    padding-bottom: 5%;
}

.download{
    margin: 5% 3% 5% 0;
}

/* Navigation Bar */

.navbar{
    padding-bottom: 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 100;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.2rem;
    font-weight: bold;
}

/* Title image */

.title-image{
    height: 60%;
    /* width: 30%; */
    transform: rotate(20deg);
    position: absolute;
    right: 30%;
}

/* Features */

#features{
    padding: 7% 15%;
    background-color: #fff; 
    position: relative;
    /* z-index: 1; */
}

.feature-box{
    text-align: center;
    font-family: 'Montserrat-Black', sans-serif;
}

.fas{
    color: #ef8172;
    margin-bottom: 1rem;
}

.fas:hover{
    color: #ff4c68;
}

/* testimonial section */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press */

#press{
    text-align: center;
    background-color: #ef8172;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* carousel sectioin */

.carousel-item{
    padding: 7% 15%;
}

/* pricing section */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-heading{
    font-weight: bold;
}

.pricing-headers{
    font-weight: bold;
}

.pricing-col{
    padding: 3% 2%;
}

@media (max-width: 999px){
    .title-image{
        height: 20rem;
        position: static;
        transform: rotate(360deg);
    }
}
