/* Imports and stuff */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Ubuntu:wght@300&display=swap');

/* body styling */

body{
    text-align: center;
}

/* sections */

.colored-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: #fff;
}
/* title section */

.title-image{
    height: 60%;
    transform: rotate(20deg);
    position: absolute;
    right: 30%;
}

#title .container-fluid{
    padding:  3% 15% 7%;
    text-align: left;
}

/* Headings */

h2{
    font-size: 3rem;
    line-height: 1.5;
}

h1, h2, h4, h5, h6{
    font-family: "Montserrat-Black", sans-serif;
}

.big-heading{
    line-height: 1.5;
    font-size: 3rem;  
}

/* first page  */

.container-fluid{
    padding: 7% 15%;
}

.download{
    margin: 5% 3% 5% 0;
}

/* Navigation Bar */

.navbar{
    padding-bottom: 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 100;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.2rem;
    font-weight: bold;
}


/* Features */

#features{
    position: relative;
}

.feature-box{
    font-family: 'Montserrat-Black', sans-serif;
}

.fas{
    color: #ef8172;
    margin-bottom: 1rem;
}

.fas:hover{
    color: #ff4c68;
}

/* testimonial section */

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

#testimonials{
    background-color: #ef8172;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press */

#press{
    background-color: #ef8172;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* carousel section */



/* pricing section */

.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

#pricing{
    padding: 100px;
}

.pricing-heading{
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5rem;
}

.pricing-headers{
    font-weight: bold;
}

.pricing-col{
    padding: 3% 2%;
}

/* Call to action */

#cta{
    font-family: 'Montserrat-Black', sans-serif;
}

.cta-heading{
    font-weight: bold;
    font-size: 3.4rem;
}

/* footer section */

.fa-icon{
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Media query breakpoints */

@media (max-width: 999px){
    #title{
        text-align: center;
    }
    .title-image{
        height: 20rem;
        position: static;
        transform: rotate(360deg);
    }
}
